.header-border {
  border: 0;
  border-left: 1px dotted rgb(156, 155, 155);
}
.logo-align {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
.text-glass {
  background-image: url(images/icons/iconGlass.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right;
}
.border-bottom-navbar {
  border-bottom: 3px solid rgb(230, 230, 230);
}
.label-posts {
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  /* flex-wrap: wrap; */
  border: 1px solid white;
}

.entertaiment-style {
  border: 1px solid rgb(228, 228, 228);
  border-left: 5px solid rgb(247, 58, 253);
  font-weight: bold;
  font-size: 20px;
}
.text-pink {
  color: rgb(247, 58, 253);
}
.entertaiment-links {
  font-size: 18px;
  color: rgb(165, 165, 165);
  text-decoration: none;
}
/* .most-popular-border {
  border: 1px solid rgb(228, 228, 228);
  border-left: 3px solid black;
  font-weight: bold;
  font-size: 20px;
} */

.latest-articles-style {
  border: 1px solid rgb(228, 228, 228);
  border-left: 5px solid black;
  font-weight: bold;
  font-size: 20px;
}
/* .breadcrumb > li + li:before {
  color: #ccc;
  content: "/ ";
  padding: 0 5px;
} */

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.latest-articles-name {
  font-weight: bold;
  font-size: 13px;
  color: rgb(185, 185, 185);
}
.text-arrow {
  background-image: url(images/icons/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right;
}

.mt-6 {
  margin-top: 80px;
}

.bg-black {
  background-color: black;
}

.business-style {
  border: 1px solid rgb(228, 228, 228);
  border-left: 5px solid rgb(34, 202, 34);
  font-weight: bold;
  font-size: 20px;
}
.text-green {
  color: rgb(34, 202, 34);
}
.travel-style {
  border: 1px solid rgb(228, 228, 228);
  border-left: 5px solid rgb(236, 175, 42);
  font-weight: bold;
  font-size: 20px;
}
.text-orange {
  color: rgb(236, 175, 42);
}
.text-grey {
  color: rgb(185, 185, 185);
}

.border-card-bottom {
  /* border: 0; */
  border-bottom: 1px solid rgb(63, 63, 63) !important;
}

.bg-darkgrey {
  background-color: rgb(39, 39, 39);
}

.entertaiment-photo-border {
  border: 1px solid white;
}
.text-footer {
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}
